<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <h4><a href="/">EduMatch</a></h4>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><li><a href="/browse">Browse</a></li></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </nav>>

    <h2>Filter By:</h2>


<div id="myBtnContainer">
  <button class="btn active" onclick="filterSelection('all')"> Show all</button>
  <button class="btn" onclick="filterSelection('jeremy')"> jeremy</button>
  <button class="btn" onclick="filterSelection('jerome')"> jerome</button>
  <button class="btn" onclick="filterSelection('daniel')"> daniel</button>
</div>


<!-- //Trying to do a drop down filter 
<div class="dropdown">
  <button>HubSpot Resources</button>
  <div class="dropdown-content">
  <a href="https://blog.hubspot.com/">Blog</a>
  <a href="https://academy.hubspot.com/">Academy</a>
  <a href="https://www.youtube.com/user/hubspot">YouTube</a>
  </div>
</div>
-->

{{#each user}}
<div class="box">
    <div class="abc {{name}}">
        <div class="row">
            <div class="col-2">
                <div class="card">
                    <div class="avatar-ctn">
                        <img src="/avatar.png" class="avatar" alt="user profile picture".>
                    </div>
            <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                <p class="card-text">Some text ewroihgfoaiewhgfoewahv</p>
                <a href="#" class="btn btn-primary">{{email}}</a>
            </div>
            </div>
            </div>
            <br><br>
          <div class="col-8">
                 <div class="card text-center">
                     <div class="card-header">
                         Tutor Details
                     </div>
                     <div class="card-body">
                         <h5 class="card-title">Hey {{user.name}} welcome back</h5>
                         <p class="card-text">This is your profile page where u can add information about yourself</p>
                         <a href="#" class="btn btn-primary">Go somewhere</a>
                     </div>
                     <div class="card-footer text-muted">
                         bla bla bla
                     </div>
                 </div>
            </div>
        </div>    
</div>
</div>
{{/each}}




    <script>
filterSelection("all")
function filterSelection(c) {
  var x, i;
  x = document.getElementsByClassName("abc");
  if (c == "all") c = "";
  for (i = 0; i < x.length; i++) {
    RemoveClass(x[i], "show");
    if (x[i].className.indexOf(c) > -1) AddClass(x[i], "show");
  }
}

function AddClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
  }
}

function RemoveClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    while (arr1.indexOf(arr2[i]) > -1) {
      arr1.splice(arr1.indexOf(arr2[i]), 1);     
    }
  }
  element.className = arr1.join(" ");
}

// Add active class to the current button (highlight it)
var btnContainer = document.getElementById("myBtnContainer");
var btns = btnContainer.getElementsByClassName("btn");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function(){
    var current = document.getElementsByClassName("active");
    current[0].className = current[0].className.replace(" active", "");
    this.className += " active";
  });
}
</script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>