@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inter');

body {
    background-color: rgb(237, 237, 237);
}
h4 {
    color:rgba(0,149,135,255);
    font-family: Poppins;
    font-size:3vw;
    text-align: center; 
}

h1 {
    text-align: center;
    font-family: Inter;
}

a {
    text-decoration: none;
    color:rgba(0,149,135,255);
}

a:hover {
    color: black;
}

p {
    font-family: Inter;
}

nav {
  background-color:rgba(0,149,135,255);
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 40px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    list-style: none;
}

nav li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 8px;
}

nav li a:hover {
    color:black;
    text-decoration: none;
}

.avatar-ctn {
    background-color: rgb(237, 237, 237);
    text-align: center;
}

.avatar {
    width: 65%;
    border-bottom: 1px solid rgba(0,0,0,0.125);
}

.abc {
    display: none;
    color: black;
    border-radius: 15px;
    background: #707070;
    padding: 20px;
    width: 1500px;
    height: 400px;
    align-items:center;
    
  }
  
  .show {
    display: block;
  }
  
  .container {
    margin-top: 20px;
    overflow: hidden;
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color:rgba(0,149,135,255);
  }
  
  .btn.active {
    background-color:rgba(0,149,135,255);
    color: white;
  }

  .box{position:relative;
       width:850px;
       height:350px;
       border-radius: 25px;
       padding:20px;
       margin:100px auto;
       border:10px;
       background-color: #797675;}

    .card-body-main {
       height:300px; 
    }
    
    .center {
        margin: auto;
        width: 80%;
        padding: 10px;
      }

    .btn-primary{
        background-color:rgba(0,149,135,255);
  }

    .btn-primary:hover{
        background-color:rgba(0,149,135,255);
    }